/* Para darle un estilo en las imagenes de la Página#1 */
.imagenseccion1{
    margin-right: 10px;
    border: 1px solid black;
}
/* Para darle un estilo propio a las imagenes de la Página#4 */
.imagentam {
    margin-right: 10px;
    border: 1px solid rgb(42, 73, 71);
    transition: transform 0.3s ease; /* Esto según entiendo es para que la transición se haga delicadamente (lento) */

}
/* Para aumentar el tamaño al pasar el mouse encima de las imagenes de la Página#4 jijijij */
.imagentam:hover {
    transform: scale(1.1);
}
/* Para que mis imagenes de la Página#4 estén bien centraditas en la mitad */
.imagencentrada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Para que mis imagenes de la primera parte aparezcan a la izquierda */
.izquierdita{
    float:left;
}
/* Para que mis imagenes de la primera parte aparezcan a la derecha */
.derechita{
    float:right;
}

/* Para traer tipografía pedida por el profe */
p {
    font-family: 'Lugrasimo', cursive;
    font-size: 18px
}
h2{
    font-family: 'Lugrasimo', cursive;
    font-size: 20px
}
h1{
    font-family: 'Anton', sans-serif;
    border-style: solid;
    border: 1px solid black;
    background: rgb(135, 180, 195);
    padding: 10px;
    font-size: 30px
}
li{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

/* Para darle el subrayado que pidió el profe */
h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    text-decoration-color: lightblue;
}
/* Para darle un color de fondo a la página que combinara todito junto a la tematica (dinos) */
.fondo{
    background-color: rgb(122, 144, 88);
}

/* Para darle mi estilo a la tabla de la Página#2 */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
/* Para darle Estilo al encabezado de la tabla */
th {
    background-color: rgb(21, 73, 56);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
/* Estilo para las filas "pares" de mi tabla  */
tr:nth-child(even) {
    background-color: rgb(216, 235, 245);
    color: black;
}
/* Estilo para las filas "impares" de mi tabla  */
tr:nth-child(odd) {
    background-color: rgb(146, 204, 146);
    color: black;
}
/* Estilo para las celdas como tal de los datos ubicados dentro de la tabla */
td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

/* Estilo que le puse a todo mi menu y para que aparezca arribita siempre aunque vaya bajando */
.menu {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(21, 73, 56);
    color: rgb(116, 185, 183);
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
/* Estilo para los enlaces que tengo en mi menú hacia las otras páginas/html */
.menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
}
/* Estilo para el resaltado al pasar el mouse sobre las opciones de mi super menú */
.menu a:hover {
    background-color: rgb(116, 185, 183);
}

/* Estilos que uso para las secciones y subsecciones, junto al gradiente */
section {
    scroll-margin-top: 205px;
    border: 1px solid black;
    background: linear-gradient(to right, #6d7976, #aaebd3);
    padding: 10px;
}
/* Estilito que le puse a cada división de mis paginas */
div{
    border: 1px solid black;
    padding: 10px
}

/* Para ordenar mejor mi lista de dinos en la Página#3 */
.columnas{
    columns: 4;
    column-gap: 20px;
}
/* Para ordenar mejor mi lista de dinos posibles a seleccionar en la Página#5 */
.columnas2{
    columns: 6;
    column-gap: 20px;
}
/* Estilos para cambiar el color de las letras luego de las viñetas */
ul li {
    list-style-type: none;
    color:rgb(56, 61, 80)
}
/* Estilos para cambiar el color de las viñetas */
ul li::before {
    content: "• ";
    color: rgb(177, 219, 180); /* Color de las viñetas */
}
/* Inicializar el contador para los números */
ol {
    counter-reset: item; 
}
/* Estilos para cambiar el color de las letras luego de los números */
ol li {
    list-style-type: none;
    color:rgb(62, 73, 43)
}
/* Estilos para cambiar el color de los números */
ol li::before {
    content: counter(item) ". ";
    color: rgb(23, 70, 83); /* Color de los números jijiji */
    counter-increment: item; /* Para incrementar el contador por cada uno de mís ítems */
}

/* Lo puse para crear espacio hacia abajo entre los enlaces */
section a {
    display: block;
    margin-bottom: 10px;
}
/* Para que aparezca a la izquierda mi mensaje de creador */
.izq{
    text-align: right;
}
/* Para darle estilo a todo el Footer de todas mis Páginas */
footer {
    text-align: center;
    border: 1px solid black;
    background-color: rgb(21, 73, 56);
    color: rgb(116, 185, 183);
    padding: 2px;
}
.footer1{
    font-size: 27px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: lightblue;
}
.footer2, .footer3, .footer4{
    font-size: 17px;
}
.footer4{
    text-decoration: underline;
    text-decoration-color: lightblue;
}
.footercontenido a{
    font-family: 'Indie Flower', cursive;
    color: lightblue;
}
/* Para la configuración de como se ven los videos en la Página#4 */
.videoconfig {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
/* Para que la margen de la tabla de lista de amigos en la Página#5 no aparezca pegada con la lista de dinosaurios del
amigo seleccionado */
.margencita{
    margin-bottom: 20px;
}
/* Para que la margen de la lista de checkbox en la Página#5 no aparezca pegada con las otras cositas */
.margencita2{
    margin-top: 3px;
    margin-bottom: 10px;
}